* {
    background-color: darkgray;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    margin-bottom: 20px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    border: solid black 10px;
}

.fewx-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

